*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
} 

.top-banner {
  text-align: center;
	font-size: 26px;
  font-weight: bold;
	font-family: sans-serif;
  background-color:#34aad5;
	color:aliceblue;
	margin:20px;
	padding:15px;
	position:relative;
}
.container{
	display: flex;
	width:100%;
	padding-left: 15px;
	padding-right: 15px;
	margin:auto;
}

.right-container{
padding-top: 1.5rem;
} 

#current-weather{
	padding-left: 15px;
	border-radius:.25rem;
	border:1px solid #dee2e6;
}

#cityinput{
	overflow: visible;
} 

#submitCityBtn{
	display: inline;
	background-color: #34aad5;
	padding: 5px;
	margin: 5px;
	font-size: medium;
	text-align: center;
	font-family: sans-serif;
	color:aliceblue;
	border-radius: 20px;
} 

#fiveDayForcastUl{
flex-direction: column;
border-style: solid;
border-color: #34aad5;
width: 100%;
} 

#weather-card{
	border-style: solid;
	border-color: black;
}
