*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
} 

.top-banner {
  text-align: center;
	font-size: 26px;
  font-weight: bold;
	font-family: sans-serif;
  background-color:#34aad5;
	color:aliceblue;
	margin:20px;
	padding:15px;
}
.container{
	display: flex;
	border-style: solid;
	border-color:black;
	border-width: 1px;
}


#cityinput{
	overflow: visible;
} 

#submitCityBtn{
	display: inline;
	background-color: #34aad5;
	padding: 5px;
	margin: 5px;
	font-size: medium;
	text-align: center;
	font-family: sans-serif;
	color:aliceblue;
	border-radius: 20px;
} 

.weather-container{
align-items: center;
text-align: center;
display: flex;
border-style: solid;
border-color:black;
border-width: 1px;
width: 100%;
}

.flex-item{
	height: 20vh;
	width: 50%;
	margin: 5px;
	padding: 5px;
	font-size: 12px;
	align-items: right;
	background-color:#B9D9EB;
}